# On refuse tout par défaut
Require all denied

# On autorise l'accès à index.php
<FilesMatch "^index\.php$">
    Require all granted
</FilesMatch>

# On autorise les fichiers CSS et JS
<FilesMatch "\.(css|js)$">
    Require all granted
</FilesMatch>

# On autorise quelques vues spécifiques
<FilesMatch "^(conditionGeneralesDutilisation\.view\.php|contact\.view\.php|partenaire\.view\.php)$">
    Require all granted
</FilesMatch>
# On autorise la lecture des images 
<FilesMatch "\.(png)$">
    Require all granted
</FilesMatch>