.content article {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;
    box-sizing: border-box;
    height: 50vh;
    width: 60vw;
}

.content section {
    display: flex;
    align-items: center;
}

.left-in-article {
    max-width: 80%;
    min-width: 80%;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    padding: 5px;
}


#question  {
    font-size: 20px;
    font-weight: bold;

}

section label h4 {
    color: var(--rouge);
    margin: 0 !important;
}


.invisble{
    color: transparent !important;
    cursor:initial;
}

/*Pour les boutons*/
.content form :last-child {
    justify-content: space-around;
}


.bouton-bas {
    /* fleche du bas pour changer l'ordre des dialogues*/
    transform: rotate(180deg);
}

.bouton-bas:hover {
    /* fleche du bas pour changer l'ordre des dialogues*/
    transform: rotate(180deg) scale(1.1);
}

.bouton-modif {
    width: 50px !important;
    clip-path: none;
    background: none;
    color: var(--noir);
}


.bouton-modif::before {
    clip-path: none;
    background: none;
}

#poubelle {
    align-self: center;
}

#fleche {
    align-self: center;
}

#fleche button {
    font-weight: bold;
    font-size: larger;
    padding: 0;
}

.flex-row {
    justify-content: space-evenly;
}

.last-button {
    position: sticky;
    top: 0;
    /* L'élément se colle en haut de la fenêtre */
    justify-content: space-around;
}

.red{
    color:var(--rouge);
    margin: 0;
    min-width: 116px;
}

.dialogues {
    display: flex;
    flex-direction: column;
}

section .reponseContainer {
    margin: 0 !important;
    height: fit-content;
    justify-content: space-between;
    
}

.reponseQuestion{
    width: 25%;
    gap: 10px;
}

.flecheInvisible {
    height: 0;
}

.bold {
    font-weight: bold;
}

.modifierDialogueOuvrir{
    clip-path: none;
    background-color: var(--beige);
}

.modifierDialogueOuvrir::before{
    clip-path: none;
    background-color: var(--beige);
}