.content article{
    overflow: auto;
    height: 500px;
}

.content section{
    display: flex;
    margin: 20px;
    margin-right: 0%;
}

.content p{
    max-width: 60vw;
    text-align: justify;
}

/*Pour les boutons*/
.content form :last-child{
    justify-content: space-around;
}

.content button{
    font-size: small;
    margin: 0%;
    padding: 10px;
    width: 20%;
    height: auto; /* Permet au bouton de s'ajuster verticalement */
}


.content>article>form>section>div>:last-child{/* fleche du bas pour changer l'ordre des dialogues*/
    transform: rotate(180deg);
}
.content>article>form>section>div>:last-child:hover{ /* fleche du bas pour changer l'ordre des dialogues*/
    transform: rotate(180deg) scale(1.1);
}
.bouton-modif {
    width: 50px !important;
    clip-path: none;
    background: none;
    color: var(--noir);
}

.bouton-modif:hover{
    transform: scale(1.1);
}

.bouton-modif::before{
    clip-path: none;
    background: none;
}  

#poubelle{
    align-self: center;
    width: 50px;
    height: 50px;
}

#fleche{
    align-self: center;
}

#fleche button{
    font-weight: bold;
    font-size: larger;
}

.flex-row{
    justify-content: space-evenly;
}

.last-button{
    position: sticky;
    top: 0; /* L'élément se colle en haut de la fenêtre */
    justify-content: space-around;
}