.content section{
    display: flex;
    margin: 20px;
}

.input-superpose{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    /*width: max-content;*/
}

.input-superpose label{
    align-self: flex-start;
}

.input-superpose textarea{
    /* width: 100%; */
    height: 10vh;
}

.input-superpose input{ /*TODO : aligner le text area et le input*/ 
    width: 55vw;
}

.effacer-enregistrer{ /* bouttons */
    justify-content: space-around;
<<<<<<< HEAD
}
=======
}

.buttons {
    width: 95%;
    justify-content: space-around;
}
 .texte span {
    color: var(--rouge);
    font-weight: bold;
 }

 .texte p {
    text-align: center;
 }

 .texte {
    gap: 1rem;
    margin: 40px 90px;
 }

>>>>>>> 2c0a7237124a754948b1d4aecb6e7afe9b2d5cbf
