.content section{
    display: flex;
    margin: 20px;
}

.content form>:nth-child(2){ /* Pour la partie du dialogue */
    flex-direction: column;
    width: max-content;
}

.content form>:nth-child(2) label{ /* Pour la partie du dialogue */
    display: flex;
    align-self: flex-start;
}

textarea{ /* Pour la partie du dialogue */
    height: 20vh;
    width: 55vw;
}

.content form :last-child{ /* Pour la partie du dialogue */
    justify-content: space-around;
}

.content form {
    justify-content: space-between !important;
    align-items: initial !important;
}
.texteDialogue {
    display: flex;
    flex-direction: column;
}

.buttons {
    width: 95%;
    justify-content: space-around;
}