.content section{
    display: flex;
    margin: 20px;
}

.input-superpose{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    /*width: max-content;*/
}

.input-superpose label{
    align-self: flex-start;
}

.input-superpose textarea{
    /* width: 100%; */
    height: 10vh;
}

.input-superpose input{ /*TODO : aligner le text area et le input*/ 
    width: 55vw;
}

.effacer-enregistrer{ /* bouttons */
    justify-content: space-around;
}