.content section{
    display: flex;
    margin: 20px;
}

.select-perso{
    font-size: medium;
    margin-left: 2%;
}

.dialog-label{ /* Pour la partie du dialogue */
    display: flex;
    align-self: flex-start;
}

textarea{ 
    height: 20vh;
    width: 55vw;
    display: flex;
    align-self: flex-start;
}

.effacer-enregistrer{ /* bouttons */
    justify-content: space-around;
}

.content form {
    justify-content: space-between !important;
    align-items: initial !important;
}
.texteDialogue {
    display: flex;
    flex-direction: column;
}

.buttons {
    width: 95%;
    justify-content: space-around;
}