body {
    background-image: var(--background-drapeau);
    width: 100vw;
    gap: 20px;
    min-height: calc(100vh - var(--height-footer));
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.img-button {
    position: relative;
    top: 7px;
}

button {
    box-sizing: border-box;
    width: 500px;
    height: 60px;
    max-width: none !important;
    position: relative;
    /* Nécessaire pour positionner la pop-up */
}

#logo {
    width: 500px;
}

.chapter-form {
    position: relative;
}

.story-form {
    position: relative;
}

.msgCreateur {
    display: none;
    min-height: 60px;
    max-height: 60px;
    max-width: none;
    min-width: 260px;
    text-align: center;
    box-sizing: border-box;
    background-color: var(--rouge);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: var(--noir);
    opacity: 0.9;
    border: solid 3px var(--noir);
    border-radius: 25px;
    padding: 10px;
    z-index: 10;
    cursor: pointer;
    /* Pour s'assurer que la pop-up est au-dessus des autres éléments */
}

button.bloque:hover+.msgCreateur,
button.bloque:focus+.msgCreateur,
.msgCreateur:hover {
    display: block;
}