body {
    background-image: var(--background-drapeau);
    background-size: cover;
    min-height: calc(100vh - var(--height-header) - var(--height-footer));
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50rem;
    margin-inline: auto;
}

.infoContainer {
    display: flex;
    gap: 2rem;
    width: 45rem;
}


h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
    margin-bottom: 0;
}

.description {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

#map {
    height: 450px;
    width: 600px;
}