body {
    background-image: var(--background-drapeau);
    background-size: cover;
    min-height: calc(100vh - var(--height-header) - var(--height-footer));
}

main{
    width: 70%;
    margin : auto !important;
}

.infoContainer {
    display: flex;
    gap: 2rem;
    width: 45rem;
}

.lieux-img{
    max-width: 530px;
}

h3 {
    /* font-size: 25px; */
    margin-bottom: 0;
    min-width: 10%;
} 

.description {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

#map {
    height: 450px;
    width: 600px;
    margin-bottom: 2rem;
}

.infoContainer img{
    height: 20em;    
}