body {
    background-image: var(--background-histoire);
    margin-inline: auto;
}

h1 {
    font-size: 45px;
}

.formContent {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span {
    color: var(--rouge);
}

.form {
    background-color: var(--beige);
    padding: 1rem 10rem 3rem 3rem;
    margin-inline: auto;
    width: 40rem;
    display: flex;
    align-items: right;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 19px;
    border: 3px solid var(--noir);
    gap: 0.5;
    text-align: right;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    justify-content: center;
}

.labelInput {
    margin-top: 1.5rem;
    justify-content: center;
}

.labelInput input {
    width: 12rem;
    height: 1.5rem;
    border: 2px solid var(--noir);
    padding-inline: 1rem;
}

.labelInput input[type=checkbox] {
    width: 1.5rem;
    height: 1.5rem;
}

.creer {
    width: 16rem;
    margin-top: 2rem;
}


.connecter {
    color: var(--noir);
    width: 10rem;
    margin-top: 2rem;
}

.cond {
    color: #0051db;
    text-decoration: underline;
    display: inline;
}