body {
  background-image: var(--background-histoire);
  width: 100vw;
  font-size: larger;
}

/* Pour la disposition de la page*/
.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 2fr;
  gap: 5px;

  padding: 5px 3vw ;

}

.container>section {
  padding: 10px;
}

.container>section.header {
  display: flex;
  justify-content: space-around;
  grid-area: header;
  text-align: center;
  max-height: 50px;
}

.container>article.content {
  grid-area: content;
  background-color: var(--beige);
  height: 95%;
  border: 2px solid var(--noir);
  max-width: 60vw;
  min-width: 60vw;
  margin-top: 25px;
}

.container>section.footer {
  display: flex;
  justify-content: space-around;
  grid-area: footer;
}

button {
  width: 300px;
  max-width: none !important;
  height: 60px;
}

.container>section.header div {
  margin-right: 1.5%;
  margin-left: 1.5%;
  display: flex;
}

#info {
  max-height: 50px;
  margin-left: 20%;
}

label {
  align-self: center;
  text-align: right;
  margin-right: 10px;
  min-width: 150px;
}


h2.titre {
  position: relative;
  right: 1.625em;
  bottom: 2em;
  width: 8em;

  margin: 0;
  /* Centrer horizontalement */
  background-color: var(--noir);
  /* Couleur de fond */
  padding: 1% 5%;

  border: none;
  color: var(--beige-ecriture);
  clip-path: polygon(10% 0%, 72% 0%, 80% 50%, 72% 100%, 10% 100%, 10% 50%);

  font-size: medium;
}

h2.titre::before {
  content: '';
  /* Créer un élément avant le bouton */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bleu);
  /* Couleur de fond de la bordure */
  clip-path: polygon(12% 7%, 71% 7%, 78% 50%, 71% 93%, 12% 93%, 12% 50%);
  /* La même forme que la div */
  z-index: -1;
  /* Placer la bordure derrière le bouton */
}


/*premier boutton*/
.container>section.header button {
  margin-top: 0%;
}

.content button {
  font-size: small;
  margin: 0%;
  padding: 10px;
  width: 20%;
  height: auto;
  /* Permet au bouton de s'ajuster verticalement */
}

textarea{ /* Pour la partie du dialogue */

  min-width: 20vw;
  max-width: 55vw;
  min-height: 100%;
  max-height: 42vh;
}

.menu{
  min-width: 34vw;
  max-width: 34vw;
}

button.poub{
  clip-path: none;
  background-color: var(--beige) !important;
}

button.poub::before{
  background-color: var(--beige) !important;
}