body {
  background-image: var(--background-histoire);
  width: 100vw;
  font-size: larger;
}

/* Pour la disposition de la page*/
.container {
  display: flex;
  height: max-content;
  gap: 5px;
  padding: 5px 3vw ;

}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 5rem;
  width: 34vw;
  height: 80vh;
}

.content {
  background-color: var(--beige);
  border: 2px solid var(--noir);
  margin-top: 25px;
  height: 50vh;
  margin-bottom: 3rem;
}

.footer {
  display: flex;
  justify-content: space-around;
}

button {
  width: 300px;
  max-width: none !important;
  height: 60px;
}

section.header div {
  margin-right: 1.5%;
  margin-left: 1.5%;
  display: flex;
}

#info {
  max-height: 50px;
  margin-left: 20%;
}

/*premier boutton*/
.container>section.header button {
  margin-top: 0%;
}

.content button {
  font-size: small;
  margin: 0%;
  padding: 10px;
  width: 20%;
  height: auto;
  /* Permet au bouton de s'ajuster verticalement */
}

textarea{ /* Pour la partie du dialogue */

  min-width: 20vw;
  max-width: 55vw;
  min-height: 100%;
  max-height: 42vh;
}

.menu{
  min-width: 34vw;
  max-width: 34vw;
}

button.poub{
  clip-path: none;
  background-color: var(--beige) !important;
}

button.poub::before{
  background-color: var(--beige) !important;
}

.containerBox {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.formLieu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
}

#lieux {
  width: 30%;
  height: 2rem;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
}

.inputs {
  align-items: center;
  justify-content: center;
  gap: 2rem;
} 

.inputs label {
  font-weight: bold;
}
.inputs input {
  height: 2rem;
}
.inputsRow {
  align-items: center;
  justify-content: center;
}

.personnage {
  height: 7rem;
}