
body{
    margin: 0%;
}
footer{
    display : flex;
}

footer article{
    background-color: var(--bleu);
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    padding-top : 1%;
    justify-content: space-around;
    width: 100%;
}

footer img {
    background-color: #ebe6d6;
    width: 15%;
    height: auto;
    padding: 1%;
    padding-bottom: 0%;

}

footer section {
    color: #ebe6d6;
    font-size: larger;
}

footer section a{
    color: #ebe6d6;
}