body{
    margin: 0%;
}
footer{
    display : flex;
}

footer>article{
    background-color: var(--bleu);
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    justify-content: space-around;
    width: 100%;
    padding: 0%;
    height: 1%;
    border: none;
    max-height:150px ;

}

footer>img {
    background-color: var(--beige-ecriture);
    width: 15%;
    height: auto;
    padding-bottom: 0%;
    max-height:150px ;

}

footer>article>section , footer>article>section a{
    color: #ebe6d6;
    font-size: large;
    margin: 3%;
}

footer>section ul {
    text-align: left;
}