:root {
    --bleu: #0c2a42;
    --beige: #ecdfb9;
    --rouge: #a45254;
    --vert: #33553d;
    --noir: #221816;
    --police: 'Courier New', Courier, monospace;
    --dyslexique: 'Verdana', sans-serif;
}

body{
    font-family: var(--police);
}


button {
    position: relative;
    /* Nécessaire pour la position de la "bordure" autour du bouton */
    display: block;
    /* Afficher le bouton en bloc pour le centrer */
    margin: 0 auto;
    /* Centrer horizontalement */
    background-color: var(--noir);
    /* Couleur de fond */
    padding: 5% 10%;
    border: none;
    /* Retirer la bordure du bouton */
    clip-path: polygon(28% 0%, 72% 0%, 100% 50%, 72% 100%, 28% 100%, 0% 50%);
    /* Forme du bouton */
}

button::before {
    content: '';
    /* Créer un élément avant le bouton */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--beige);
    /* Couleur de fond de la bordure */
    clip-path: polygon(30% 7%, 70% 7%, 95% 50%, 70% 93%, 30% 93%, 5% 50%);
    /* La même forme que la div */
    z-index: -1;
    /* Placer la bordure derrière le bouton */
}
