header {
    display: flex;
    justify-content: left;
    padding-top: 10px;
    padding-left: 15px;
    box-sizing: border-box;
    height: var(--height-header);
}

header a img {
    height: calc(var(--height-header) - 10px);

    width: calc(var(--height-header) - 10px);
}