 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 10px; */
    padding-inline: 15px;
    box-sizing: border-box;
    height: var(--height-header);

    /* margin-top: 20px; */
}
a {
    text-decoration: none;
    color: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
p {
    padding-top: 0;
    margin: 0;
    color: var(--noir);
}

.home {
    font-size: 9px;
    transition: transform 0.15s ease-in-out;
    position: relative;
}

.home:hover {
    transform: scale(1.1);
}

.accueil-text {
    display: none;
    position: absolute;
    bottom: -20px;
}

.home:hover .accueil-text {
    display: block;
}

.user {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    display: inline-block;
}

.user > img {
    margin-top: 72px;
    height: 100px;
    padding: 0;
    transition: transform 0.15s ease-in-out;
}

.user > img:hover {
    transform: scale(1.1);
}

.nomUser {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
    transition: transform 0.15s ease-in-out;
}

.user:hover .nomUser {
    transform: translateX(-50%) translateY(10px);
}