body {
    background-image: var(--background-histoire);
    max-height: calc(100vh - var(--height-header));
}

main { /* pas de flex car apres le texte passe au dessus de l'image */
    max-height: calc(100vh - var(--height-header));

}

h1 {
    max-width: 70vw;
    margin-left: 50vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

article {
    text-align: center;
    display: block;
    border: 2px solid var(--noir);
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
    height: max-content;

}

.fond-container {
    position: relative;
    height: max-content;
    overflow: hidden;
    /* Assure que tout reste dans le conteneur */
    text-align: center;
    /* Centrer le contenu horizontalement */
}

.fond {
    width: 100%;
    height: 65vh; /*permet de définir la hauteur de l'image sans la déformer*/
    object-fit: cover;
}

.fond-container img {
    margin: 0;
    padding: 0;
    height: 65vh;
    display: block;
    /* Empêche l'espace lié à l'affichage inline par défaut des images */
}


.personnages { /* METTRE UN MAX-WIDTH 80% ?*/
    position: absolute;
    bottom: 0;
    /* Ajustez selon votre besoin */
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    /* Espace égal entre les personnages */
    align-items: flex-end;
    /* Aligner les personnages au bas */
}

.parle,
.parle-pas {
    /* Ajustez la taille des personnages */
    height: 85%;
    animation: fadeIn 0.6s ease-in-out forwards;
}
@keyframes fadeIn{
    0% {
        transform: scale(0.90);
    }
    100% {
        transform: scale(1);
    }
}

.parle-pas {
    opacity: 0.6;
}


article section {
    border: 2px solid var(--noir);
    background-color: var(--beige);
    position: relative;
    padding-bottom: 10px;   
}

article section p {
    text-align: justify;
    
}

h2.speaker { /* Essayer la taile en em (la taille de police de l'élément parent) ?*/ 
    font-size: 150%;
    margin: 0%;
    /* Couleur de fond */
    background-color: var(--noir);
    width:15vw;
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
    color: var(--beige-ecriture);
    text-align: left;
    padding-left: 1vw !important;
    min-width: 100px;

    position: absolute;
    top: -32px;
    left: -2px !important;
    padding: 15px 5px;
}

h2.speaker::before {
    content: '';
    /* Créer un élément avant le bouton */
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background-color: var(--bleu);
    z-index: -1;
    clip-path: polygon(2% 10%, 88% 10%, 96.5% 50%, 88% 90%, 2% 90%);
}

.speaker.question::before {
    background-color: var(--rouge);

}

.text {
    font-size: 1.5em;
    color: #333;
    padding: 10px;
    white-space: wrap;
    overflow: hidden;
    margin-top: 20px;
}

.lieux {
    min-width: 100%;
}

.consulter-lieux{
    gap: 5px;
}

.repondre{
    margin-left: 5%;
    padding: 1rem 2rem;
}