main {
    background-image: var(--background-drapeau);
    width: 100vw;
    gap: 20px;
    min-height: calc(100vh - var(--height-footer));
}

form{
    display: flex;
    gap: 10%;
}

button {
    /* width: max-content; */
    width: 20vw;
    min-width: 150px;
    padding: 10px 20px !important;
}

.title {
    font-size: 2em;
    margin-right: 10px;
    position: relative;
    top: -50px;
    left: 50px;
}

#logo {
    width: 500px;
}

.div-button {
    width: 100%;
}