.container {
    position: relative;
    /* Nécessaire pour la position de la "bordure" autour du bouton */
    display: flex;
    /* Afficher le bouton en bloc pour le centrer */
    margin: 0 auto;
    /* Centrer horizontalement */
    background-color: var(--noir);
    /* Couleur de fond */
    padding: 10px 50px;
    min-width: 200px;
    height: 50px;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    border: none;
    /* Retirer la bordure du bouton */
    color: var(--beige-ecriture);
    font-weight: bold;

    /*clip-path: polygon(28% 0%, 72% 0%, 100% 50%, 72% 100%, 28% 100%, 0% 50%);*/
    clip-path:  polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
    /* Forme du bouton */
    font-size: 20px;
    margin-top: 1rem;
}

.container::before {
    content: '';
    /* Créer un élément avant le bouton */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gris);
    /* Couleur de fond de la bordure */
    clip-path: polygon(11% 8%, 89% 8%, 99% 50%, 89% 92%, 11% 92%, 1% 50%);
    /* La même forme que la div */
    z-index: -1;
    /* Placer la bordure derrière le bouton */
}

body {
    background-image: var(--background-histoire);
    background-size: cover;
    min-height: calc(100vh- var(--height-header));
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.histoires {
    width: 35rem;
}

.titres {
    font-weight: bold;
    font-size: 20px;
    margin-top: 2rem;
}

.container p {
    font-weight: bold;
}

.after {
    border-top: 2px solid var(--noir);
}

.modif {
    color: red;
}

.creer {
    height: 80px;
    width: 20rem;
}