body{
    background-image: var(--background-drapeau);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    width: 100%;
}

main {
    align-items: center;
}

body>main>ul>li{
    width: 70%;
    margin: auto;
}

body>main>ul>li>h2{
    text-align: left;
}

.partenaire-img{
    width: 8vw;
    object-position: center;
    margin-right: 5%; 
}

body>main>ul>li>article>section{
    text-align: left;
}

.partenaire-texte{
    text-align: justify ;
}

